
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Dashboard</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Account" asp-action="admin">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
            <li class="breadcrumb-item active">Member Information</li>
        </ol>
    </div>
    <div class="col-lg-6 align-self-center text-right">
        <a href="#" class="btn btn-success box-shadow btn-icon btn-rounded"><i class="fa fa-plus"></i> Create New</a>
    </div>
</div>
<section class="main-content">

    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <table class="table table-bordered">
                    <thead class="table-primary">
                        <tr>
                            <th>S.No</th>
                            <th>Reg.No</th>
                            <th>Reg.Date</th>
                            <th>Email Id</th>
                            <th>Password</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>444</td>
                            <td>19/06/2021</td>
                            <td>venkatesansoftwareengineer@gmail.com</td>
                            <td>123</td>
                            <td>view</td>
                            <td>Edit</td>
                            <td>Delete</td>
                            <td>unpaid</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>