@model CreateRoleViewModel

@{
    ViewBag.Title = "Create New Role";
}

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Dashboard</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Account" asp-action="admin">Home</a></li>
            <li class="breadcrumb-item active">Create Profile</li>
        </ol>
    </div>
    <div class="col-lg-6 align-self-center text-right">
        <a asp-action="Index" class="btn btn-success box-shadow btn-icon btn-rounded"><i class="fa fa-plus"></i> Create New</a>
    </div>
</div>



<section class="main-content">

    <div class="row">
        <div class="col-md-12 card">
            <form asp-action="CreateRole" method="post" class="mt-3">
                <div asp-validation-summary="All" class="text-danger">
                </div>
                <div class="form-group row">
                    <label asp-for="RoleName" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="RoleName" class="form-control" placeholder="Name">
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" style="width:auto">
                            Create Role
                        </button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</section>