/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}


.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/********** website  style sheet***************/
.register-free {
    background: #ff7e00;
    text-align: center;
    padding: 10px 40px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ff7e00;
    font-size: 18px; 
    
}
.login {
    background: #b8000d;
    width: 130px;
    height: 44px;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #b8000d;
    margin-left:20px;
}
.register {
    float:right;
}
.header-bg {
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-wrapper {
    background-color: #ff7e00 !important;
    color: #fff!important;
}
a.nav-link.text-dark {
    font-size: 20px;
    color: #fff !important;
    font-family: sans-serif;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    display: none !important;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1.7rem !important;
    padding-left: 1.7rem !important;
}
.slider {
    background-image: url("img/slider.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 500px;
    margin-top: -19px !important;
}
.slider-content h2 {
    color:#fff !important;
}
.finder-form-transparent {
    background-color: rgba(128, 128, 128, 0.42);
    margin: 30px auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    z-index: 1;
    height: 120px;
    border-radius: 6px;
    box-shadow: 0px 7px 12px 9px #00000012;
    margin: 30px 0px;
    padding: 50px 1px;
    margin-bottom: 100px;
   
}
.slider-content {
    padding-top:180px;
}
.signin {
    background: #ff7e00;
    !important;
    color: #fff !important;
    border: 1px solid #ff7e00;
    margin-left: 5px !important;
}
select#exampleSelect1 {
    margin-left: 2px !important;
}
.choose {
    color: #272727 !important;
    font-weight:600;
    font-size:25px;
}
.living {
    color: #272727 !important;
    font-weight: 600;
    font-size: 25px;
}
.matrimony {
    color: #ff7e00 !important;
}
.Living-Matrimony-title h2 {
    text-align:center !important;
    padding:30px 0px;
}
#img-living {
    text-align:center;
    margin:0 auto;
}
.Living-Matrimony-title {
    text-align: center;
    margin: 0 auto;
}
span.carousel-control-prev-icon {
    position: relative;
    bottom: 40px;
    right: 40px;
}

span.carousel-control-next-icon {
    position: relative;
    bottom: 40px;
}



.cta-100 {
    margin-top:30px;
   
}

.col-md-4 {
    padding-bottom: 20px;
}

.white {
    color: #fff !important;
}

.mt {
    float: left;
    margin-top: -20px;
    padding-top: 20px;
}

.bg-blue-ui {
    background-color: #708198 !important;
}

figure img {
    width: 300px;
}

#blogCarousel {
    padding-bottom: 100px;
}

.blog .carousel-indicators {
    left: 0;
    top: -30px;
    height: 50%;
}


    /* The colour of the indicators */

    .blog .carousel-indicators li {
        background: #708198;
        border-radius: 50%;
        width: 8px;
        height: 0px;
    }

    .blog .carousel-indicators .active {
        background: #0fc9af;
    }




.item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
}

.item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    

}

.item-box-blog-image {
    position: relative;
}

    .item-box-blog-image figure img {
        width: 100%;
        height: auto;
    }

.item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
}

    .item-box-blog-date span {
        color: #fff;
        display: block;
        text-align: center;
        line-height: 1.2;
    }

        .item-box-blog-date span.mon {
            font-size: 18px;
        }

        .item-box-blog-date span.day {
            font-size: 16px;
        }

.item-box-blog-body {
    padding: 10px;
}

.item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration: none;
    transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
}

.item-box-blog-data p {
    font-size: 13px;
}

    .item-box-blog-data p i {
        font-size: 12px;
    }

.item-box-blog-text {
    max-height: 100px;
   
}

.mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
}

    .btn.bg-blue-ui.white.read:hover {
        box-shadow: 0px 5px 15px inset #4d5f77;
    }

.border-wrapper {
    border-bottom:1px solid #000;
}

.affix {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
}

.affix-top {
    position: static;
    opacity: 0.8;
}
.Success-Stories {
    text-align:center;
}
.Success-Stories-button {
    background: #ff7e00;
    border-radius: 10px;
    border:1px solid #ff7e00;
}
.Living-Matrimony-App-left h2 {
    color: #ff7e00 !important;
}

.Living-Matrimony-App-left {
    margin-top:50px;
}
.Living-Matrimony-App-top p {
    color: #666666;
}
.Living-Matrimony-App-top ul {
    list-style-type: none;
}
.Living-Matrimony-App-top li {
    float: left;
    padding: 10px 10px;
    border-left: 1px solid rgba(128, 128, 128, 0.42);
}
.Living-Matrimony-App-top li a {
    text-decoration:none;
}
.Living-Matrimony-menubar ul {
    list-style-type:none;
}
  .Living-Matrimony-menubar ul li {
        background-image: url("img/round.png");
        background-repeat: no-repeat;
       
        padding-left:10px;
    }

    .Living-Matrimony-menubar ul li {
       display:block;
        padding:0px 40px;
    }
.Living-Matrimony-menubar {
    margin-top: 114px;
    margin-bottom: 50px;
}
.Living-Matrimony-App-right {
    margin-top:100px;
}
.Living-Matrimony-App-bg {
    background-color: #f2f2f2;
  
    background-color: #f2f2f2;
    margin-top: 80px;
    /* margin-bottom: 83px; */
    padding-bottom: 80px;
}
.read-more {
    background-color: #ff7e00;
    text-align: center;
    padding: 3px;
    border-radius: 6px;
}

.Insights-content {
    padding:10px 10px;
}
.Insights-content h6 {
    border-bottom:1px solid rgba(128, 128, 128, 0.42);
    padding-top:10px;
}
.relationships {
    padding-bottom:10px;
}
.title {
    color: #272727 !important;
    font-weight:700;
    font-size:30px;
}
.living-content {
    color: #272727 !important;
    font-weight: 700;
    font-size: 30px;
}
.matrimony-contentent {
    color: #ff7e00 !important;
    font-size: 30px;
}
.Living-Matrimony-App-bg-content-title {
    padding-top:80px;
}
#Living-Matrimony-App-bg-wrapper {

}
.footer-Service-section ul {
    list-style-type: none
        margin:0px;
    padding:0px;
}
    .footer-Service-section ul li {
        display: block;
        padding: 0px 0px;
        font-family: 'Poppins-Medium', sans-serif !important;
        font-size: 18px;
    }


        .footer-Service-section ul li a {
            text-decoration: none;
            font-family: 'Poppins-Medium', sans-serif !important;
            font-size: 18px;
        }
#footer-wrapper {
    margin-top:30px;
}

.footer-bottom-right {
    float:right;
}
.footer-bottom-right ul {
    list-style-type:none;
}
.footer-bottom-right ul li {
    float:left;
    padding:0px 20px;
}
.footer-bottom-left {
    color:#fff;
}
.footer-bottom {
    background-color: #ff7e00;
    padding: 20px 0px;
}
.footer-bottom-right .fa {
    color:#fff;
    font-size:25px;
}
.footer-bottom-left p {
    font-size:18px;
}
.Membership-Plan ul li:active {
    color: #ff7e00 !important;
}
.Membership-Plan ul li {
    float: left;
    padding: 5px 12px;
    color: #686868 !important;
    font-size:20px;
}
.Membership-Plan ul li a {
        text-decoration: none;
        color: #686868 !important;
    }
.Membership-Plan ul {
    list-style-type:none;
}
.Membership-Plan ul li a.active {
   color: #ff7e00 !important;
    }
.Membership-Plan-content h2 {
    color: #313131;
    text-transform: uppercase !important;
    font-size: 22px;
    padding-top:20px;
}
    .Membership-Plan-content h2 span {
        color: #ff7e00 !important;
        font-size: 22px;
    }
.Membership-Plan-content p {
    color:#272727;
}
.Membership-Plan-right h2 {
    color: #313131;
    text-transform: uppercase !important;
    font-size: 22px;
    padding-top:20px;
}
    .Membership-Plan-right h2 span {
        color: #ff7e00 !important;
        font-size: 22px;
    }

.pricingTable {
    background: #e72423;
    text-align: center;
    border-radius: 0 100px;
  
    transition: all .3s;
}
.amount {
    font-size: 25px;
    font-weight: 700;
}
.Membership-Plan-right ul {
    list-style-type:none;
}
.Membership-Plan-right ul li {
    float:left;
    padding:10px 10px;
}
.pricingTable .month {
    font-size: 16px;
    line-height: 15px;
    text-transform: uppercase;
    display: block;
}
.pricingTable .icon {
    color: #f83950;
    background-color: #fff;
    font-size: 40px;
    line-height: 80px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 0 0 15px rgb(255 255 255 / 30%), 0 5px 25px rgb(0 0 0 / 30%);
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 120px;
}
.pricingTable .pricingTable-header {
    color: #fff;
    background: linear-gradient( 100deg,#f83950,#e5880b);
    padding: 10px 30px 50px;
    margin: 0 0 50px;
    border-radius: 0 100px;
    box-shadow: 0 0 20px rgb(0 0 0 / 70%);
}

.pricingTable .pricingTable-header {
    color: #fff;
    background: linear-gradient( 100deg,#f83950,#e5880b);
    padding: 10px 30px 50px;
    margin: 0 0 50px;
    border-radius: 0 100px;
    box-shadow: 0 0 20px rgb(0 0 0 / 70%);
}

.pricingTable .icon {
    color: #f83950;
    background-color: #fff;
    font-size: 40px;
    line-height: 80px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 0 0 15px rgb(255 255 255 / 30%), 0 5px 25px rgb(0 0 0 / 30%);
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 120px;
}


.pricingTable {
    background: #e72423;
    text-align: center;
    border-radius: 0 100px;
  
    transition: all .3s;
    box-shadow: 0 0 20px #ccc;
}
    .pricingTable .pricing-content ul {
        color: #474747;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 36px;
        padding: 0;
        margin: 0 0 20px;
        list-style: none;
        font-family: Poppins-Medium,sans-serif !important;
    }
    .pricingTable .pricingTable-signup {
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 1px;
        padding: 10px 23px;
        margin: 0 auto;
        border-radius: 0 40px;
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: all .3s ease 0s;
        background: linear-gradient( 90deg,#f6533e,#e6840e);
        box-shadow: inset 1px 0 2px 1px #f7f1f1;
    }
    .pricingTable .pricing-content {
        background-color: #fff;
        padding: 45px 0 30px 0;
        border-radius: 0 100px;
    }

        .pricingTable .pricing-content ul {
            color: #474747;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 36px;
            padding: 0;
            margin: 0 0 20px;
            list-style: none;
            font-family: Poppins-Medium,sans-serif !important;
        }

    .pricingTable.blue {
        background-color: #3274ce;
    }
        .pricingTable.blue .pricingTable-header {
            background: linear-gradient( 100deg,#365fdc,#0bc2e4);
        }

        .pricingTable.blue .icon {
            color: #3274ce;
        }
        .pricingTable.blue .pricingTable-signup {
            background: linear-gradient( 100deg,#365fdc,#0bc2e4);
        }
.pricingTable.green {
    background-color: #5db50d;
}
    .pricingTable.green .pricingTable-header {
        background: linear-gradient( 100deg,#5bad0d,#6ae209);
    }
    .pricingTable.green .icon {
        color: #59ab0c;
    }

    .pricingTable.green .pricingTable-signup {
        background: linear-gradient( 100deg,#5bad0d,#6ae209);
    }
    .pricingTable.purple {
        background-color: #af10bc;
    }
        .pricingTable.purple .pricingTable-header {
            background: linear-gradient( 100deg,#a70fb7,#fa19f3);
        }
        .pricingTable.purple .icon {
            color: #a90fb5;
        }
        .pricingTable.purple .pricingTable-signup {
            background: linear-gradient( 100deg,#a70fb7,#fa19f3);
        }
#price-wrapper {
    margin-top:60px;
    margin-bottom:60px;
}

.fm-btn1 {
    background-color: #ff7e00;
    width: 269px;
    height: 48px;
    text-align: center;
    padding: 6px;
    border-radius: 6px;
    margin-top: 13px;
}
.blissful-left {
    float:right;
}
    .blissful-left h2 {
        color: #ff7e00 !important;
        font-family: 'Poppins-SemiBold', sans-serif !important;
    }

a.color-f.f-19.Poppins-Medium.fm-btn2 {
    background-color: #ff7e00;
    width: 269px;
    height: 48px;
    text-align: center;
    padding: 6px;
    border-radius: 6px;
    margin-top: 13px;
    color: #ffffff !important;
    font-size:30px;
}
.no-data-center {
    margin-top:50px;
    margin-bottom:50px;
}
.event-bg {
    margin-bottom:80px;
}
.contact-bg {
  margin-top:80px;
  margin-bottom:80px;
}
.contact-table-left {
    font-size: 20px;
    font-family: Open Sans;
}
.contact-table {
    font-size: 20px;
    font-family: Open Sans;
}
.membership-plan {
    background-image:url("img/menu-img.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;

}
#success-bg {
    padding-top: 40px;
}
#success-contact {
    padding-top: 0px;
}
.Post-Success-Story {
    background: #ff7e00;
    border-radius: 10px;
    border: 1px solid #ff7e00;
    padding: 10px 20px;
    box-shadow: inset 0 0 2px #000;
    border-radius: 10px;
}
.success-story-content {
    margin-top:30px;
}
.success-story-content {
    padding: 20px 20px;
    box-shadow: 0px 0px 20px 0 #00000026;
    border-radius: 8px;
    margin-bottom:30px;
}
.featured-gallery-bg-content {
    width: 100%;
    min-height: 70px;
    background-color: #f0f0f0c4;
    float: left;
    webkit-box-shadow: inset -43px 2px 0px 3px #695a5a00, inset -2px -4px 2px #00000024;
    box-shadow: inset 0 0px 0 0px #695a5a00, inset 0px -1px 2px 1px #00000024;
    border-radius: 0px 0px 6px 6px;
    height: auto;
}
.featured-gallery-bg-content h5 {
    padding:20px 20px;
}
.featured-gallery-bg-subcontent {
    box-shadow: inset 0px 0px 0px 0px #695a5a00, inset 0px -2px 0px #00000024, inset 0px 0 0px 0 #695a5a00, inset 0px -2px 4px 1px #00000024;
    background-color: #FFF;
    width: 100%;
    min-height: 236px;
    height: auto;
}
.featured-gallery-bg-subcontent p {
    padding:10px 10px;
}
   .featured-gallery-bg-subcontent p span {
        color: #ff7e00 !important;
    }
.pagation-link {
    text-align:center;
}
.page-item.active .page-link {
    background-color: #ff7e00;
    border:1px solid #ff7e00;
}
.register-bg-slider {
    background: url("img/bg-cover-reg-login.png");
    background-size: cover;
    background-position: center center;
    margin-top: -21px;
}

.login-bg-slider {
    background: url("img/bg-cover-login.png");
    background-size: cover;
    background-position: center center;
    margin-top: -21px;
}


*[role="form"] {
  
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #fefefe;
}

    *[role="form"] h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 600;
        color: #000000;
        margin-top: 5%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
.terms-conditions {
    color: #ff7e00 !important;
}
.register-title {
    text-align:center;
}
.register-bg-slider-form {
    margin-top:20px;
    margin-bottom:20px;
}
.register-bg-border {
    border:1px solid rgba(128, 128, 128, 0.42);
    padding:10px 10px;
}
.register-button {
    background-color: #ff7e00 !important;
    height: 50px;
    padding: 13px;
    text-align: center;
    border-radius: 6px;
    width: 91%;
    box-shadow: inset -43px 2px 0px 3px #695a5a00, inset -2px -4px 2px #00000024;
    margin: auto;
    outline: none;
    border: transparent;
}
.free {
    color:#ff7e00;
}
.link {
    color: #ff7e00;
}
.member-bottom {
    text-align:center;
    padding-top:5px;
}
#rightwrapper {
    text-align:right;
}
#navbar-link {
    color: #272727 !important;
    font-size: 16px !important;
}
.quick-search-menubar ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.quick-search-menubar ul li  {
    float:left;
    padding:0px 20px;
}
    .quick-search-menubar ul li a {
        text-decoration:none;
        font-size:20px;
        color:#272727;
    }
.quick-search-menubar ul li a.active{
    color:#ff7e00;
    border-bottom:4px solid #b8000d;

}
.id-search-wrapper h6 {
    text-align:center;
}
.id-search-wrapper {
    border-bottom: 1px solid rgba(128, 128, 128, 0.42);
    margin-top: 20px;
    padding:20px 20px;
}
    .id-search-wrapper shadow {
        margin-top:10px;
    }
.id-search-title h2 {
    color:#272727;
    padding:10px 0px;
    text-align:center;
}
    .id-search-title h2 span {
        color: #ff7e00;
    }
.btn-search {
    background-color: #ff7e00 !important;

    width: 162px;
    height: 54px;
    text-align: center;
    padding: 14px;
    background-color: #e40955;
    box-shadow: inset 2px 2px 2px rgb(255 255 255 / 40%), inset -2px -4px 2px rgb(0 0 0 / 40%);
    border-radius: 6px;
    /* margin-left: -6px; */
    display: inline-block;
    text-decoration: none;
    border: 0px;
    cursor: pointer;
}
.id-search-form {
    border: 1px solid #ecedf3;
    border-radius:2px;
}
.search-hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}
#photosetting {
    border: 1px solid #ecedf3;
    padding:10px 10px;
}
.photo-wrapper {
    margin-left:30px;
}
.photo-wrappers {
    margin-right: 18px;
}
.blog-bg-top {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.latest-post {
    background-color: #ff4422;
    border: 1px solid #f05555;
}
div {
    posititon: relative;
}

.js-nametag {
    position: absolute;
}

    .js-nametag:nth-child(1) {
        animation-name: fade;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-direction: alternate-reverse;
    }


    .js-nametag:nth-child(2) {
        animation-name: fade;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        animation-direction: alternate;
    }

@keyframes fade {
    0%,50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blog-left {
    border:1px solid
}
#bg-box {
    border:1px solid rgba(128, 128, 128, 0.42);
    padding:30px 30px;
    margin:30px 0px;
}
.read-more {
    background-color: #860000;
    color:#fff;
}
.blog-right ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}
    .blog-right ul li {
        float: left;
        font-size: 11px;
    }
.blog-right ul li a {
    text-decoration:none;
    font-size:11px;
}
#bg-second-wrapper {
    margin:10px 0px;
}
#bg-container {
    margin:10px 0px;
}
div#blog-right {
    margin-top: 30px;
}


/**********  profile page design   ********88*/




@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    30% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(5deg);
    }

    70% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}


/*
 * Off Canvas sidebar at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 992px) {

    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -33%;
    }

    .row-offcanvas-left.active {
        left: 33%;
        margin-left: -6px;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 33%;
        height: 100%;
        
    }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -45%;
    }

    .row-offcanvas-left.active {
        left: 45%;
        margin-left: -6px;
    }

    .sidebar-offcanvas {
        width: 45%;
    }
}

.card {
  
}

.card-body .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

    .card-body .rotate i {
        color: rgba(20, 20, 20, 0.15);
        position: absolute;
        left: 0;
        left: auto;
        right: -10px;
        bottom: 0;
        display: block;
        -webkit-transform: rotate(-44deg);
        -moz-transform: rotate(-44deg);
        -o-transform: rotate(-44deg);
        -ms-transform: rotate(-44deg);
        transform: rotate(-44deg);
    }

.row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
}

.sidebar-offcanvas {
    width: 45%;
}

}

.card {
   
}

.card-body .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

    .card-body .rotate i {
        color: rgba(20, 20, 20, 0.15);
        position: absolute;
        left: 0;
        left: auto;
        right: -10px;
        bottom: 0;
        display: block;
        -webkit-transform: rotate(-44deg);
        -moz-transform: rotate(-44deg);
        -o-transform: rotate(-44deg);
        -ms-transform: rotate(-44deg);
        transform: rotate(-44deg);
    }


















a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    margin-top:-17px;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
        
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #sidebarCollapse span {
        display: none;
    }
}