@inject SignInManager<ApplicationUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - addon365.FindMatch360</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="header-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="logo-word">
                            <ul>
                                <li><a href="index.html"> <img src="~/images/logo.png" class="img-fluid" /> </a></li>
                                <li><a><span class="ilamai-logo">ilamai matrimony</span></a></li>
                            </ul>
                          
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    



    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-bottom-left">

                        <p><a href="https://www.addon365.com/">Copyright &#169;	2021. All rights reserved</a> </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-bottom-right">
                        <ul>
                            <li>
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </li>

                            <li>
                                <i class="fa fa-twitter" aria-hidden="true"></i>

                            </li>


                            <li>
                                <i class="fa fa-pinterest-square" aria-hidden="true"></i>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   
    @RenderSection("Scripts", required: false)



</body>
</html>
