<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - addon365.FindMatch360</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="header-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <img src="~/images/logo.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="register">
                            <a asp-controller="User" asp-action="Register"> <button type="button" class="btn btn-primary register-free">Register free!</button></a>
                            <a asp-controller="User" asp-action="login"> <button type="button" class="btn btn-danger login">Login</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 navbar-wrapper">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">addon365.FindMatch360</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                Home
                            </a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle nav-link text-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">   <i class="fa fa-search" aria-hidden="true"></i> Services</span> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link text-dark" id="navbar-link" asp-area="" asp-controller="Home" asp-action="quicksearch"> Quick Search</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" id="navbar-link" asp-area="" asp-controller="Home" asp-action="keywordsearch"> Keyword Search</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" id="navbar-link" asp-area="" asp-controller="Home" asp-action="idsearch"> Id Search</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Upgrade">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                Upgrade
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Blog">
                                <i class="fa fa-wifi" aria-hidden="true"></i>
                                Blog
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SuccessStory">
                                <i class="fa fa-male" aria-hidden="true"></i>
                                SuccessStory
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Events">
                                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                                Events
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ContactUs">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                ContactUs
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <div class="container">
        <div class="row" id="footer-wrapper">
            <div class="col-md-3">
                <div class="footer-Service-section">
                    <h5> At Your Service</h5>
                    <ul>
                        <li>Member Login</li>
                        <li>Sign Up</li>
                        <li>Ashram Wedding</li>
                        <li>How to use/FAQ</li>
                        <li>Premium Membership</li>
                        <li>Customer support</li>
                        <li>Report Abuse</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer-Service-section">
                    <h5>Our Organisation</h5>
                    <ul>
                        <li>Member Login</li>
                        <li>About Us </li>
                        <li>Insights</li>
                        <li>Contact Us</li>
                        <li>Careers</li>
                        <li>Success Stories</li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer-Service-section">
                    <h5>Your Advantage</h5>
                    <ul>
                        <li> Be safe online</li>
                        <li>Disclaimer</li>
                        <li>Privacy policy</li>
                        <li>Refund Policy</li>
                        <li>Terms and Condition</li>
                        <li>Sitemap</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer-Service-section">
                    <h5>Contact</h5>
                    <ul>
                        <li>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            +91-9900038442
                        </li>
                        <li>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>

                            9:30 AM to 6:30PM
                        </li>
                        <li>
                            <i class="fa fa-envelope-open-o" aria-hidden="true"></i>
                            info@matrimony.org
                        </li>

                    </ul>
                </div>
            </div>


        </div>
    </div>



    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-bottom-left">
                        <p>All Rights Reserved by  artoflivingmatrimony.org</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-bottom-right">
                        <ul>
                            <li>
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </li>

                            <li>
                                <i class="fa fa-twitter" aria-hidden="true"></i>

                            </li>


                            <li>
                                <i class="fa fa-pinterest-square" aria-hidden="true"></i>

                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

        $('#carouselExample').on('slide.bs.carousel', function (e) {


            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 3;
            var totalItems = $('.carousel-item').length;

            if (idx >= totalItems - (itemsPerSlide - 1)) {
                var it = itemsPerSlide - (totalItems - idx);
                for (var i = 0; i < it; i++) {
                    // append slides to end
                    if (e.direction == "left") {
                        $('.carousel-item').eq(i).appendTo('.carousel-inner');
                    }
                    else {
                        $('.carousel-item').eq(0).appendTo('.carousel-inner');
                    }
                }
            }
        });





        $(document).ready(function () {
            /* show lightbox when clicking a thumbnail */
            $('a.thumb').click(function (event) {
                event.preventDefault();
                var content = $('.modal-body');
                content.empty();
                var title = $(this).attr("title");
                $('.modal-title').html(title);
                content.html($(this).html());
                $(".modal-profile").modal({ show: true });
            });

        });
    </script>
    <script>
        $('.navbar').affix({
            offset: {
                top: $('header').height() /* apply .affix at bottom of header */
            }
        })
    </script>



    <script>
        $(document).ready(function () {

            $('[data-toggle=offcanvas]').click(function () {
                $('.row-offcanvas').toggleClass('active');
            });

        });

    </script>


    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>



    @RenderSection("Scripts", required: false)
</body>
</html>
