@model addon365.FindMatch360.Models.Masters.RasiMaster

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">Rasi</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class='bx bx-home-alt'></i> </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"><a asp-action="Index">Details</a></li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <a asp-controller="RasiMasters" asp-action="Index">
                <button type="button" class="btn btn-primary" asp-action="Index"> Back to List</button>
            </a>
        </div>
    </div>
</div>
<!--end breadcrumb-->



<h1>Details</h1>

<div>
    <h4>RasiMaster</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <!--end breadcrumb-->
                    <div class="col-md-12">
                        <dl class="row">
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.RasiName)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.RasiName)
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.RasiMasterId">Edit</a> |
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>