@model addon365.FindMatch360.Models.Masters.SubCasteMaster

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Create";
}

<div class="row page-header">
    <div class="col-lg-6 align-self-center ">
        <h2>Dashboard</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Account" asp-action="admin">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
            <li class="breadcrumb-item active">Member Information</li>
        </ol>
    </div>
    <div class="col-lg-6 align-self-center text-right">
        <a href="#" class="btn btn-success box-shadow btn-icon btn-rounded"><i class="fa fa-plus"></i> Create New</a>
    </div>
</div>
<section class="main-content">

    <div class="row">
        <div class="col-md-12 card">
                <h1>Create</h1>
                <h4>SubCasteMaster</h4>
                <hr />
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="SubCasteName" class="control-label"></label>
                                <input asp-for="SubCasteName" class="form-control" />
                                <span asp-validation-for="SubCasteName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type your message here...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary"><i class="fa fa-send"></i></button>
                        </span>
                    </div>
                </div>
            
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
