<!---------------- membership-plan start-------------------->
<div class="membership-plan shadow">
    <div class="container">
        <div class="row" id="success-bg">
            <div class="col-md-4">
                <div class="Membership-Plan">
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">/ Membership Plan</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Membership-Plan-content">
                    <h2>
                        UPGRADE MEMBERSHIP <span>PLAN</span>
                    </h2>
                    <p>
                        Select One Of the Packages below and pay using the payment method of your choice.

                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Membership-Plan-right">
                    <h2>PAYMENT <span>OPTION</span></h2>
                    <ul>
                        <li>   <figure> <img alt="" src="~/images/write.png" class="rounded"> </figure></li>
                        <li>   <figure> <img alt="" src="~/images/cart.png" class="rounded"> </figure></li>
                        <li>   <figure> <img alt="" src="~/images/bag.png" class="rounded"> </figure></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<!---------------- membership-plan end-------------------->



<div class="event-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3 mt-5">
                <div class="no-data-center text-center shadow">
                    <figure> <img alt="" src="~/images/no-data.png" class="img-fluid"> </figure>
                    <h6> NO DATA FOUND</h6>
                </div>
            </div>
        </div>
    </div>
</div>




<!----------------  blissful journey start-------------------->
<div class="blissful">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="blissful-left">
                    <h2>
                        Begin a blissful journey!
                    </h2>
                </div>

            </div>

            <div class="col-md-6">
                <div class="blissful-right">
                    <a href="#" class="color-f f-19 Poppins-Medium fm-btn2">Find Your Match Now</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!----------------  blissful journey end-------------------->