<div class="quick-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="quick-search-menubar">
                    <ul>
                        <li><a href="#"> <i class="fa fa-search" aria-hidden="true"></i>Quick Search </a></li>
                        <li><a href="#" class="active"> <i class="fa fa-keyboard-o" aria-hidden="true"></i> Keyword Search</a></li>
                        <li><a href="#"> <i class="fa fa-id-card-o" aria-hidden="true"></i>ID Search</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------     ID SEARCH  -------------------->
<div class="id-search">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="id-search-wrapper shadow">
                    <h6> Find profiles based on keywords. Exp : Hindu, Muslim, Rajput, Ahmedabad, India, Software Eng, etc...</h6>
                    <hr class="search-hr">
                    <div class="id-search-title">
                        <h2> KEYWORD  <span>SEARCH</span> </h2>


                        <div class="id-search-form">
                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label for="firstName" class="col-sm-3 control-label">  Keyword Search * : </label>
                                    <div class="col-sm-9">
                                        <input type="text" id="firstName" placeholder="Hindu, Muslim, Rajput, Ahmedabad, India, Software Eng, etc..." class="form-control" autofocus>
                                    </div>
                                </div>

                                <div class="form-group form-check">
                                    <label class="form-check-label" id="photosetting">
                                        <span class="photo-wrappers"> Photo Setting: </span>
                                        <input class="form-check-input" type="checkbox">
                                        <span class="photo-wrapper"> With Photo </span>

                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-search">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    Search
                                </button>
                            </form> <!-- /form -->
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
