<div class="search-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="search-profile">
                    <div class="form-group">
                        <label for="sel1">Select Age:</label>
                        <select class="form-control" id="sel1">
                            <option>18 to 77</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Mother Tongue:</label>
                        <select class="form-control" id="sel1">
                            <option>No Preference</option>
                            <option>Assamese</option>
                            <option>Arunachali</option>
                            <option>Awadhi</option>
                            <option>Badaga</option>
                            <option>Bahasa</option>
                            <option>Bengali</option>
                            <option>Bhojpuri</option>
                            <option>Bihari</option>
                            <option>Brij</option>
                            <option>Chatisgarhi</option>
                            <option>Dogri</option>
                            <option>English</option>
                            <option>Garhwali</option>
                            <option>Garo</option>
                            <option>Gujarati</option>
                            <option>Haryanvi</option>
                            <option>Himachali/Pahari</option>
                            <option>Hindi</option>
                            <option>Kanauji</option>
                            <option>Kannada</option>
                            <option>Maithili</option>
                            <option>Malayalam</option>
                            <option>Manipuri</option>
                            <option>Tamil</option>
                            <option>Telugu</option>
                            <option>Tripuri</option>
                            <option>Tulu</option>
                            <option>Urdu</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="sel1">Select Religion:</label>
                        <select class="form-control" id="sel1">
                            <option>No Preference</option>
                            <option>Buddhist</option>
                            <option>Christian</option>
                            <option>Hindu</option>
                            <option>Jain</option>
                            <option>Jewish</option>
                            <option>Muslim</option>
                            <option>No Religion</option>
                            <option>Parsi</option>
                            <option>Sikh</option>
                            <option>Other</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="sel1">Select Caste:</label>
                        <select class="form-control" id="sel1">
                            <option>No Preference</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="sel1">Manglik:</label>
                        <select class="form-control" id="sel1">
                            <option>No Preference</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="sel1">Manglik:</label>
                        <select class="form-control" id="sel1">
                            <option>No Preference</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel1">Family Values:</label>
                        <select class="form-control" id="sel1">
                            <option>No Preference</option>
                            <option>Traditional</option>
                            <option>Moderate</option>
                            <option>Traditional</option>
                            <option>Liberal</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="sel1">Country:</label>
                        <select class="form-control" id="sel1">
                            <option>No Preference</option>
                            <option>Australia</option>
                            <option>Bangladesh</option>
                            <option>Brazil</option>
                            <option>Canada</option>

                            <option>Denmark</option>
                            <option>Egypt</option>
                            <option>Fiji</option>
                            <option>France</option>
                            <option>Germany</option>

                            <option>Greece</option>
                            <option>Hong Kong</option>
                            <option>Hungary</option>
                            <option>India</option>
                            <option>Indonesia</option>

                            <option>Ireland</option>
                            <option>Italy</option>
                            <option>Japan</option>
                            <option>Jordan</option>
                            <option>Kuwait</option>

                            <option>Malaysia</option>
                            <option>Mexico</option>
                            <option>Monaco</option>
                            <option>Morocco</option>
                            <option>Nepal</option>

                            <option>Netherlands</option>
                            <option>New Zealand</option>
                            <option>Norway</option>
                            <option>Philippines</option>
                            <option>Portugal</option>

                        </select>
                    </div>


                </div>
            </div>

        </div>

    </div>

</div>