<!---------------- membership-plan start-------------------->
<div class="membership-plan shadow">
    <div class="container">
        <div class="row" id="success-bg">
            <div class="col-md-4">
                <div class="Membership-Plan">
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">/ Success Stories</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Membership-Plan-content">
                    <h2>
                        FEATURED SUCCESS <span>STORIES</span>
                    </h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Membership-Plan-right">
                    <button type="button" class="btn btn-danger Post-Success-Story">Post Success Story</button>

                </div>
            </div>
        </div>
    </div>
</div>
<!---------------- membership-plan end-------------------->
<!-----------------success-story  start---------------->
<div class="success-story">
    <div class="container">
        <div class="col-md-12">
            <div class="success-story-content">
                <p>
                    They say marriages are made in heaven and we at Art of Living Matrimony are trying to bring together that someone who is made for you. We welcome you all to celebrate with us the Success Stories of the innumerable married couples who have found their dream partner through Art of Living Matrimony. We wish them the very best for a happy and successful married life.
                </p>
            </div>
        </div>
    </div>
</div>

<!-----------------success-story  end---------------->
<!-----------------Gallery section Start---------------->
<div class="featured-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="featured-gallery-bg">
                    <img alt="" src="~/images/blog9.png" class="img-fluid">
                </div>
                <div class="featured-gallery-bg-content">
                    <h5> Bhanu Prakash & Sushma Bollam</h5>
                </div>
                <div class="featured-gallery-bg-subcontent">
                    <p>Yes!! It was a time when I got my promotion and felt my life was well settled. I had thrown a party for my family members. It was a small get-together and the chit-chat started with various topics and inevitably it came to my marriage! Everyone started suggesting t...<span>Read more</span></p>
                </div>

            </div>

            <div class="col-md-4">
                <div class="featured-gallery-bg">
                    <img alt="" src="~/images/blog10.png" class="img-fluid">
                </div>
                <div class="featured-gallery-bg-content">
                    <h5> Ashok Basutkar & Priyanka Khaire </h5>
                </div>
                <div class="featured-gallery-bg-subcontent">
                    <p> Ashok said, “I had been searching for a life partner for a long time. I met many girls through other websites, but they weren’t on the spiritual path and failed to understand me and my lifestyle! After that I got to know about the Matrimony website of Art of L.<span>Read more</span></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="featured-gallery-bg">
                    <img alt="" src="~/images/blog11.png" class="img-fluid">
                </div>
                <div class="featured-gallery-bg-content">
                    <h5> Puneet Kumar & Kusum Panchal
                    </h5>
                </div>
                <div class="featured-gallery-bg-subcontent">
                    <p> In the beginning of the year i found her profile She is my true companion,the most precious gift of my life. It took some time to understand each other but then all's well that ends well. Finally we both took blessings from Gurudev and decided to spend our lives...<span>Read more</span></p>
                </div>
            </div>

            <div class="col-md-12">
                <div class="pagation-link text-center">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>



        </div>
</div>
</div>
<!-----------------Gallery section end---------------->
