@model RegisterViewModel

<div class="register-bg-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6 col-12">
                <div class="register-bg-slider-form">
                    <form class="form-horizontal" role="form" method="post">

                        <div class="register-title">
                            <h5>REGISTER FOR <span class="free">FREE</span></h5>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="register-bg-border">
                            <div class="form-group">
                                <label class="control-label col-sm-4"></label>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                                Gender
                                                <input type="radio" asp-for="Gender" id="femaleRadio" value="Female">Female
                                            </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                                <input type="radio" asp-for="Gender" id="maleRadio" value="Male">Male
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- /.form-group -->
                            <div class="form-group">
                                <label for="firstName" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="FullName" id="firstName" placeholder="Enter Your Full Name" class="form-control" autofocus />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Email" type="text" id="emailid" placeholder="Enter your Email ID" class="form-control" autofocus>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group input-group">
                                <div class="col-md-3">
                                    <select class="custom-select">
                                        <option selected="">+91</option>
                                        <option value="1">+64</option>
                                        <option value="2">other Coutries</option>
                                        <option value="3">+1242</option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <input asp-for="MobileNo" class="form-control" placeholder="Phone number" type="text">
                                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                                </div>
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="Password" type="password" id="password" placeholder="Create a Password" class="form-control">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label for="password" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <input asp-for="ConfirmPassword" type="password" id="confirmpassword" placeholder="Confirm Password" class="form-control">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>*@


                            <div class="form-group">
                                <label class="control-label"></label>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                                Indian Nationality :
                                                <input type="radio" id="femaleRadio" value="Female">Yes
                                            </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                                <input type="radio" id="maleRadio" value="Male">No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- /.form-group -->
                            <div class="rc-anchor-content"><div class="rc-inline-block"><div class="rc-anchor-center-container"><div class="rc-anchor-center-item rc-anchor-checkbox-holder"><span class="recaptcha-checkbox goog-inline-block recaptcha-checkbox-unchecked rc-anchor-checkbox recaptcha-checkbox-checked" role="checkbox" aria-checked="true" id="recaptcha-anchor" dir="ltr" aria-labelledby="recaptcha-anchor-label" aria-disabled="false" tabindex="0" style="overflow: visible;"><div class="recaptcha-checkbox-border" role="presentation" style="display: none;"></div><div class="recaptcha-checkbox-borderAnimation" role="presentation" style=""></div><div class="recaptcha-checkbox-spinner" role="presentation" style="display: none; animation-play-state: running; opacity: 1;"><div class="recaptcha-checkbox-spinner-overlay" style="animation-play-state: running;"></div></div><div class="recaptcha-checkbox-checkmark" role="presentation" style=""></div></span></div></div></div><div class="rc-inline-block"><div class="rc-anchor-center-container"><label class="rc-anchor-center-item rc-anchor-checkbox-label" aria-hidden="true" role="presentation" id="recaptcha-anchor-label"><span aria-live="polite" aria-labelledby="recaptcha-accessible-status"></span>I'm not a robot</label></div></div></div>

                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="remember">
                                    I agree to the  <span class="terms-conditions"> Terms And Conditions</span>
                                </label>
                            </div>
                            <a asp-controller="Account" asp-action="campaignregistration">
                                <button type="submit" class="btn btn-primary btn-block register-button">Register</button>
                                </a>

                        </div>
                        <div class="member-bottom">
                            <span>Already a Member? <a href="#" class="link">Login </a></span>
                        </div>
                    </form> <!-- /form -->
                
                  

              

                
            </div>

                </div>


            
            </div>
        </div>
  

