@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!--page-wrapper-->
<!--breadcrumb-->
<div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
    <div class="breadcrumb-title pr-3">AccountAdmin</div>
    <div class="pl-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"> AccountAdmin User</li>
            </ol>
        </nav>
    </div>
    <div class="ml-auto">
        <div class="btn-group">
            <a asp-controller="admin" asp-action="CreateProfile">
                <button type="button" class="btn btn-primary" asp-action="Index"> Back to List</button>
            </a>
        </div>
    </div>

</div>
<!--end breadcrumb-->
<section class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="admin-title">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Admin Id</label>
                            <input placeholder="Admin Id" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Admin Name</label>
                            <input  placeholder="Admin Name" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-12">
                            <label>User Name</label>
                            <input placeholder="User Name" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Email Id</label>
                            <input type="email" class="form-control" placeholder="Email Id">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Phone Number</label>
                            <input type="number" class="form-control" placeholder="Phone Number">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Password</label>
                            <input  name="password" placeholder="password" class="form-control" type="password">
                        </div>
                        <div class="form-group col-md-12">
                            <label>conform Password</label>
                            <input  placeholder="password" class="form-control" type="password">
                        </div>
                        <div class="form-group col-md-12">
                            <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="button" class="btn btn-danger">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>