@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row page-header">
    <div class="col-lg-6 align-self-center">
        <h2>Dashboard</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Account" asp-action="admin">Home</a></li>
            <li class="breadcrumb-item active">Admin User</li>
        </ol>
    </div>
   
</div>

<section class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="admin-title">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Name</label>
                            <input id="Full Name" name="Name" placeholder="Name" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Email Id</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>

                        <div class="form-group col-md-12">
                            <label>Password</label>
                            <input id="Full Name" name="password" placeholder="password" class="form-control" type="password">
                        </div>
                        <div class="form-group col-md-12">
                            <label>conform Password</label>
                            <input id="Full Name" name="password" placeholder="password" class="form-control" type="password">
                        </div>
                        <div class="form-group col-md-12">
                            <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="button" class="btn btn-danger">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>