
<div class="blog-bg-top">
    <div class="container">
        <div class="row">
         <div class="col-md-2">
             <div class="blog-bg-button">
                
                     <span class="btn btn-danger latest-post"> Latest Post</span>

             </div>
         </div>
         <div class="col-md-10">
             <div class="blog-bg-button">
                 <p class="js-nametag">6 Advice to My Son before His Wedding</p>
                 <p class="js-nametag">Destiny and Gurudev’s grace have their own ways</p>

             </div>
         </div>
        </div>
    </div>
</div>

<div class="blog-post-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8" id="bg-box">
                <div class="row" id="bg-container">
                    <div class="col-md-6">
                        <div class="blog-left">
                            <img src="~/images/blog-1.jpg" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-right">
                            <ul>
                                <li>
                                    <i class="fa fa-user" aria-hidden="true"></i> Art of Living Matrimony
                                </li>

                                <li>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    March 17, 2020
                                </li>

                                <li>
                                    <i class="fa fa-commenting" aria-hidden="true"></i>

                                    0
                                </li>

                                <li>
                                    <i class="fa fa-free-code-camp" aria-hidden="true"></i>


                                    602
                                </li>
                            </ul>
                            <h6>6 Advice to My Son before His Wedding</h6>
                            <p>
                                I am a mother of a son who is to get married soon. Multiple emotions are flowing in my mind.…


                            </p>

                            <button type="button" class="btn btn-danger read-more"> Read More</button>
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-left">
                            <img src="~/images/blog-bg-1.png" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-right">
                            <ul>
                                <li>
                                    <i class="fa fa-user" aria-hidden="true"></i> Art of Living Matrimony
                                </li>

                                <li>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    March 17, 2020
                                </li>

                                <li>
                                    <i class="fa fa-commenting" aria-hidden="true"></i>

                                    0
                                </li>

                                <li>
                                    <i class="fa fa-free-code-camp" aria-hidden="true"></i>


                                    602
                                </li>
                            </ul>
                            <h6>6 Advice to My Son before His Wedding</h6>
                            <p>
                                I am a mother of a son who is to get married soon. Multiple emotions are flowing in my mind.…
                            </p>

                            <button type="button" class="btn btn-danger read-more"> Read More</button>
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-left">
                            <img src="~/images/blog-bg-2.png" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-right">
                            <ul>
                                <li><i class="fa fa-user" aria-hidden="true"></i> Art of Living Matrimony</li>

                                <li> <i class="fa fa-clock-o" aria-hidden="true"></i>March 17, 2020</li>

                                <li><i class="fa fa-commenting" aria-hidden="true"></i> 0</li>

                                <li><i class="fa fa-free-code-camp" aria-hidden="true"></i>602 </li>
                            </ul>
                            <h6>Significance of 10 Wedding Customs in India</h6>
                            <p>Weddings announce the arrival of a new life. They mark the celebration of the unison of two different people and…</p>
                            <button type="button" class="btn btn-danger read-more"> Read More</button>
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-left">
                            <img src="~/images/blog-bg-3.png" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-right">
                            <ul>
                                <li><i class="fa fa-user" aria-hidden="true"></i> Art of Living Matrimony</li>

                                <li> <i class="fa fa-clock-o" aria-hidden="true"></i>March 17, 2020</li>

                                <li><i class="fa fa-commenting" aria-hidden="true"></i> 0</li>

                                <li><i class="fa fa-free-code-camp" aria-hidden="true"></i>602 </li>
                            </ul>
                            <h6>Work ethics as partner preference in Hindu Matrimony</h6>
                            <p> Ramesh and Radha are married 15 years now. Ramesh is an IT professional working out of an MNC, while…</p>
                            <button type="button" class="btn btn-danger read-more"> Read More</button>
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-left">
                            <img src="~/images/blog-bg-4.png" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-right">
                            <ul>
                                <li><i class="fa fa-user" aria-hidden="true"></i> Art of Living Matrimony</li>

                                <li> <i class="fa fa-clock-o" aria-hidden="true"></i>March 17, 2020</li>

                                <li><i class="fa fa-commenting" aria-hidden="true"></i> 0</li>

                                <li><i class="fa fa-free-code-camp" aria-hidden="true"></i>602 </li>
                            </ul>
                            <h6>5 Ways to Strengthen Your Intuition</h6>
                            <p>Do you believe that you can know without knowing? If you answer to this is yes, then you exactly know…</p>
                            <button type="button" class="btn btn-danger read-more"> Read More</button>
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-left">
                            <img src="~/images/blog-bg-5.png" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-right">
                            <ul>
                                <li><i class="fa fa-user" aria-hidden="true"></i> Art of Living Matrimony</li>

                                <li> <i class="fa fa-clock-o" aria-hidden="true"></i>March 17, 2020</li>

                                <li><i class="fa fa-commenting" aria-hidden="true"></i> 0</li>

                                <li><i class="fa fa-free-code-camp" aria-hidden="true"></i>602 </li>
                            </ul>
                            <h6>Highlights of a Kayastha Wedding</h6>
                            <p>India is known worldwide for its diverse cultures, traditions, ethnicities and languages. Adding vibrancy to this unique kaleidoscope of Indian…</p>
                            <button type="button" class="btn btn-danger read-more"> Read More</button>
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-left">
                            <img src="~/images/blog-bg-6.png" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-right">
                            <ul>
                                <li><i class="fa fa-user" aria-hidden="true"></i> Art of Living Matrimony</li>

                                <li> <i class="fa fa-clock-o" aria-hidden="true"></i>March 17, 2020</li>

                                <li><i class="fa fa-commenting" aria-hidden="true"></i> 0</li>

                                <li><i class="fa fa-free-code-camp" aria-hidden="true"></i>602 </li>
                            </ul>
                            <h6>Pre-Wedding Customs in a Marathi Wedding</h6>
                            <p>Among all the regional community marriages in India, a Maharashtrian wedding is perhaps the simplest and a vibrant ceremony. The…</p>
                            <button type="button" class="btn btn-danger read-more"> Read More</button>
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-left">
                            <img src="~/images/blog-bg-7.png" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-right">
                            <ul>
                                <li><i class="fa fa-user" aria-hidden="true"></i> Art of Living Matrimony</li>

                                <li> <i class="fa fa-clock-o" aria-hidden="true"></i>March 17, 2020</li>

                                <li><i class="fa fa-commenting" aria-hidden="true"></i> 0</li>

                                <li><i class="fa fa-free-code-camp" aria-hidden="true"></i>602 </li>
                            </ul>
                            <h6>Secret of a Long-Lasting Happy Marriage</h6>
                            <p>
                                In this day and age, when everyone’s leading a fast-paced hectic lifestyle, we’re always looking for instant gratification, be it
                            </p>
                            <button type="button" class="btn btn-danger read-more"> Read More</button>
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-left">
                            <img src="~/images/blog-bg-8.png" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6" id="bg-container">
                        <div class="blog-right">
                            <ul>
                                <li><i class="fa fa-user" aria-hidden="true"></i> Art of Living Matrimony</li>

                                <li> <i class="fa fa-clock-o" aria-hidden="true"></i>March 17, 2020</li>

                                <li><i class="fa fa-commenting" aria-hidden="true"></i> 0</li>

                                <li><i class="fa fa-free-code-camp" aria-hidden="true"></i>602 </li>
                            </ul>
                            <h6>What is Inner Freedom in Marriage</h6>
                            <p>
                                Diwali is the festival that illuminates homes and lives. The festival of joy brings happiness and peace to each one…
                            </p>
                            <button type="button" class="btn btn-danger read-more"> Read More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="blog-right">
                <div class="border">
                    <div class="media p-3">
                        <img src="~/images/blog-bg-9.png" class="img-fluid" style="width:160px;">
                        <div class="media-body pl-4">
                            <h6>John Doe <small><i>P6 Advice to My Son before His Wedding</i></small></h6>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>  <span>March 17, 2020</span>
                        </div>
                    </div>
                </div>

                <div class="border">
                    <div class="media p-3">
                        <img src="~/images/blog-bg-10.png" class="img-fluid" style="width:160px;">
                        <div class="media-body pl-4">
                            <h6><small><i>Take a Look at these Wedding Traditions around the World</i></small></h6>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>  <span>March 17, 2020</span>
                        </div>
                    </div>
                </div>


                <div class="border">
                    <div class="media p-3">
                        <img src="~/images/blog-bg-11.png" class="img-fluid" style="width:160px;">
                        <div class="media-body pl-4">
                            <h6><small><i>Importance of Haldi in an Indian Wedding</i></small></h6>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>  <span>March 17, 2020</span>
                        </div>
                    </div>
                </div>


                <div class="border">
                    <div class="media p-3">
                        <img src="~/images/blog-bg-12.png" class="img-fluid" style="width:160px;">
                        <div class="media-body pl-4">
                            <h6><small><i> Important Questions a Father should ask his Future Son-In-Law</i></small></h6>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>  <span>March 17, 2020</span>
                        </div>
                    </div>
                </div>

                <div class="border">
                    <div class="media p-3">
                        <img src="~/images/blog-bg-13.png" class="img-fluid" style="width:160px;">
                        <div class="media-body pl-4">
                            <h6><small><i>Important Conversations Before Tying The Knot</i></small></h6>
                            <i class="fa fa-clock-o" aria-hidden="true"></i>  <span>March 17, 2020</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>