
    <div class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-6 finder-block">
                    <div class="slider-content">
                        <h2> Creating meaningful connections <br /> leading to fulfilling marriages</h2>
                    </div>

                </div>

                <div class="col-md-6 col-sm-12 col-xs-6 finder-block">
                    <div class="imag-right">
                        <!---- <img src="~/images/slider-right.png" class="img-fluid" id="img-living">  -->
                    </div>
                </div>

                <form>

                    <div class="col-md-12 col-sm-12 col-xs-12 finder-block">

                        <div class="row" id="register-form-bg">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Matrimony Profile for</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>Select Matrimony Profile for</option>
                                        <option>Myself</option>
                                        <option>Daughter</option>
                                        <option>Son</option>
                                        <option>Sister</option>
                                        <option>Brother</option>
                                        <option>Relative</option>
                                        <option>Friend</option>
                                    </select>
                                </div>
                            </div>
                          

                                <div class="col-md-2 col-6">
                                    <div class="input-group">
                                        <label class="label">Gender</label>
                                        <div class="p-t-10">
                                            <label class="radio-container m-r-45">
                                                Male
                                                <input type="radio" checked="checked" name="gender">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="radio-container">
                                                Female
                                                <input type="radio" name="gender">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" id="usr" name="username" placeholder="Name" />
                                </div>

                            </div>

                            <div class="col-md-3">
                              
                                <label>Mobile Number</label>
                                <div class="form-group input-group">

                                    <select class="custom-select" style="max-width: 120px;">
                                        <option selected="">+91</option>
                                        <option value="1">+972</option>
                                        <option value="2">+198</option>
                                        <option value="3">+701</option>
                                    </select>
                                    <input name="" class="form-control" placeholder="Phone number" type="text">
                                </div> <!-- form-group// -->
                            </div>

                            <div class="col-md-2">
                                <div class="register-free-button">
                                    <button type="submit" class="btn btn-primary signin">REGISTER FREE</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </form>


            </div>
            </div>
    </div>

    <div class="Living-Matrimony">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="Living-Matrimony-title">
                        <h2> Why <span class="choose">choose </span> the Art of <span class="living">Living </span>  <span class="matrimony">Matrimony?  </span></h2>
                        <img src="~/images/assets1.png" class="img-fluid" id="img-living">
                    </div>
                </div>
            </div>

            <div class="row blog cta-100">
                <div class="col-md-12">
                    <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#blogCarousel" data-slide-to="1"></li>
                        </ol>  <ol class="carousel-indicators">
                            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#blogCarousel" data-slide-to="1"></li>
                        </ol>  <ol class="carousel-indicators">
                            <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#blogCarousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="item-box-blog">
                                            <div class="item-box-blog-image">
                                                <!--Date-->
                                                <!--Image-->
                                                <figure> <img alt="" src="~/images/blog.png" class="rounded"> </figure>
                                            </div>
                                            <div class="item-box-blog-body">
                                                <!--Text-->
                                                <div class="item-box-blog-text">
                                                    <p>

                                                        Yes!! It was a time when I got my promotion and felt my life was well settled. I had thrown a party for my family members. It was a small get-together and the chit-chat started with various topics and ...
                                                    </p>
                                                </div>
                                                <div class="border-wrapper">

                                                </div>
                                                <p>Bhanu Prakash - Sushma Bollam</p>
                                                <div class="mt"> </div>
                                                <!--Read More Button-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="item-box-blog">
                                            <div class="item-box-blog-image">
                                                <!--Date-->
                                                <!--Image-->
                                                <figure> <img alt="" src="~/images/blog1.png" class="rounded"> </figure>
                                            </div>
                                            <div class="item-box-blog-body">
                                                <div class="item-box-blog-text">
                                                    <p>
                                                        Ashok said, “I had  been searching for a life partner for a long time. I met many girls through other websites, but they weren’t on the spiritual path and failed to understand me and my lifestyle! ...
                                                    </p>
                                                </div>

                                                <div class="border-wrapper">

                                                </div>
                                                <p>Ashok Basutkar - Priyanka Khaire</p>
                                                <div class="mt"> </div>
                                                <!--Read More Button-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="item-box-blog">
                                            <div class="item-box-blog-image">
                                                <!--Date-->
                                                <!--Image-->
                                                <figure> <img alt="" src="~/images/blog2.png" class="rounded"> </figure>
                                            </div>
                                            <div class="item-box-blog-body">
                                                <div class="item-box-blog-text">
                                                    <p>
                                                        In the beginning of the year  i found her profile  She is my true companion,the most precious gift of my life. It took some time to understand each other but then all's well that ends well. Finally we ...
                                                    </p>
                                                </div>

                                                <div class="border-wrapper">

                                                </div>
                                                <p>Puneet  Kumar - Kusum Panchal</p>

                                                <!--Read More Button-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!--.item-->
                            <div class="carousel-item ">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="item-box-blog">
                                            <div class="item-box-blog-image">
                                                <!--Date-->
                                                <!--Image-->
                                                <figure> <img alt="" src="~/images/blog3.png" class="rounded"> </figure>
                                            </div>
                                            <div class="item-box-blog-body">


                                                <!--Text-->
                                                <div class="item-box-blog-text">
                                                    <p>
                                                        "Marriage is where two people, whose hearts and minds are united, who care for each other and who share a sacred bond nourished by love, companionship and faith" - Gurudev Sri Sri Ravishankar ji Human ...
                                                    </p>
                                                </div>

                                                <div class="border-wrapper">

                                                </div>
                                                <p>Nagarjun Vijay - Rini Thakur</p>

                                                <!--Read More Button-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="item-box-blog">
                                            <div class="item-box-blog-image">
                                                <!--Date-->
                                                <!--Image-->
                                                <figure> <img alt="" src="~/images/blog4.png" class="rounded"> </figure>
                                            </div>
                                            <div class="item-box-blog-body">
                                                <div class="item-box-blog-text">
                                                    <p>
                                                        "Destiny and Gurudev's grace have their own ways "
                                                        Shiva Prasad was initially living in Bangalore and Amrutha Lakshmi in Vijayawada.
                                                        That was when they got acquainted through the Art of living Matri ...
                                                    </p>
                                                </div>

                                                <div class="border-wrapper">

                                                </div>
                                                <p>Nagarjun Vijay - Rini Thakur</p>

                                                <!--Read More Button-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="item-box-blog">
                                            <div class="item-box-blog-image">
                                                <!--Date-->

                                                <figure> <img alt="" src="~/images/blog5.png" class="rounded"> </figure>
                                            </div>
                                            <div class="item-box-blog-body">
                                                <!--Text-->
                                                <div class="item-box-blog-text">
                                                    <p>
                                                        Jai Gurudev! How it all happened ! He sent request to me. I did not esponsd and den he took my contact number & send message.
                                                    </p>
                                                    <div class="border-wrapper">

                                                    </div>
                                                    <p>Nagarjun Vijay - Rini Thakur</p>
                                                    <!--Read More Button-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->
                            </div>
                            <!--.carousel-inner-->
                        </div>
                        <!--.Carousel-->
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="Success-Stories">
                        <button type="button" class="btn btn-danger Success-Stories-button"> More Success Stories</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="Living-Matrimony-App-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="Genuine-Members">
                        <img src="~/images/gm.png" alt="" />
                        <h6>Genuine Members</h6>
                        <p> Access contact number and connect directly on call or via sms with our genuine brahmin matrimony members. </p>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="Genuine-Members">
                        <img src="~/images/vv.png" alt="" />
                        <h6>Genuine profile</h6>
                        <p> Access contact number and connect directly on call or via sms with our genuine brahmin matrimony members. </p>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="Genuine-Members">
                        <img src="~/images/pri.png" alt="" />
                        <h6> 100% Privacy</h6>
                        <p>At JyothiMatrimony we are committed to the safety and security of our members and do all we can to protect members privacy.
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!----  Insights    -->

    <div class="insights">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="Living-Matrimony-title">
                        <h2>
                            Insights

                        </h2>
                        <img src="~/images/assets1.png" class="img-fluid" id="img-living">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow">
                        <img src="~/images/blog6.png" class="img-fluid" id="img-living">

                        <div class="Insights-content">
                            <h6>The Key To Make Perfect & Longlasting</h6>
                            <span class="relationships">Relationships</span>
                            <div class="Insights-subcontent">
                                <p>
                                    The Key To Make Perfect Relationships If you know how to row a boat, you can row any boat. But if you don’t know how to row, changing boats isn’t going to help. Similarly, changing...

                                </p>
                                <button type="button" class="btn btn-danger read-more"> Read More</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow">
                        <img src="~/images/blog7.png" class="img-fluid" id="img-living">

                        <div class="Insights-content">
                            <h6>Tips for Integrating Meditation into your</h6>
                            <span class="relationships">
                                Partnership
                            </span>
                            <div class="Insights-subcontent">
                                <p>
                                    Why Have a Meditator Life Partner? Looking for and finding a life partner is like getting ready for an adventure of a lifetime and not always knowing where it may lead. But three things can help ...


                                </p>
                                <button type="button" class="btn btn-danger read-more"> Read More</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow">
                        <img src="~/images/blog8.png" class="img-fluid" id="img-living">

                        <div class="Insights-content">
                            <h6>Know more about Marriage, Devotion, Love</h6>
                            <span class="relationships">and Commitment</span>
                            <div class="Insights-subcontent">
                                <p>
                                    Marriage, A Commitment; a talk by Sri Sri Ravi Shankar the founder of Art of Living organization on August 2004 at Montreal, Canada. In this talk He has given answers to some of the question...

                                </p>
                                <button type="button" class="btn btn-danger read-more"> Read More</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="Living-Matrimony-bg">
        <div class="container">
            <div class="row" id="Living-Matrimony-App-bg-wrapper">
                <div class="col-md-12">
                    <div class="Living-Matrimony-App-bg-content-title">
                        <h5>
                            <span class="title">The</span> Art of <span class="living-content">Living </span> <span class="matrimony-contentent">Matrimony </span>

                        </h5>
                        <h4>
                            "Marriage is a commitment to share and serve together" ... Sri Sri

                        </h4>
                        <p>
                            When two people’s life goals and paths are same, it melts away any personal differences and it makes it easy to face life's challenges with a smile. It provides phenomenal strength, stability and an innate joy in living a life that is fulfilling not only for the couple but to every life they touch.
                        </p>

                        <p class="sub-content-living">
                            The Art of Living Matrimony is a platform to bring people with similar life values together. Today, we have thousands of happy marriages and several continue to happen through this platform. We believe in safety and trust and hence the platform provides 100% mobile verified profiles. We understand the needs of today's youngsters and the platform is built to give members complete control through easy-to-use interfaces and features that can help them identify, filter and contact potential life partners. Besides online, we have a strong presence across India via the matrimony workshops held at multiple locations from time to time announced and registered on this website. Our purpose is to build a better, more peaceful,world by enabling happy families with a commitment to share & serve together!


                        </p>

                    </div>
                </div>

            </div>

        </div>
        </div>

<!------------------ footer  section ------------------->

   
