<div class="quick-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="quick-search-menubar">
                    <ul>
                        <li><a href="#" class="active"> <i class="fa fa-search" aria-hidden="true"></i>Quick Search </a></li>
                        <li><a href="#"> <i class="fa fa-keyboard-o" aria-hidden="true"></i> Keyword Search</a></li>
                        <li><a href="#"> <i class="fa fa-id-card-o" aria-hidden="true"></i>ID Search</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------     ID SEARCH  -------------------->
<div class="id-search">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="id-search-wrapper shadow">
                    <h6> Quick Search is the most popular search based on a few important criteria one would look for in a life partner.</h6>
                    <hr class="search-hr">
                    <div class="id-search-title">
                        <h2> QUICK  <span>SEARCH</span> </h2>


                        <div class="id-search-form">
                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label class="control-label col-sm-4"></label>
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label class="radio-inline">
                                                    Gender
                                                    <input type="radio" id="femaleRadio" value="Female">Female
                                                </label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="radio-inline">
                                                    <input type="radio" id="maleRadio" value="Male">Male
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row add-b-cstm mt-4">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <p class="Poppins-Medium f-16 color-31 ad-name">Marital status:</p>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="add-input">
                                            <select data-placeholder="Select Marital Status" class="form-control">
                                                <option value="Never married">Never married</option>
                                                <option value="Widowed">Widowed</option>
                                                <option value="Divorced">Divorced</option>
                                                <option value="Awaiting Divorce">Awaiting Divorce</option>
                                                <option value="Annulled">Annulled</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row add-b-cstm mt-4">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <p class="Poppins-Medium f-16 color-31 ad-name">Religion:</p>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="add-input">
                                            <select data-placeholder="Select Marital Status" class="form-control">
                                                <option value="Buddhist">Buddhist</option>
                                                <option value="Christian">Christian</option>
                                                <option value="Hindu">Hindu</option>
                                                <option value="Inter-Religion">Inter-Religion</option>
                                                <option value="Jains">Jains</option>
                                                <option value="Muslim">Muslim</option>
                                                <option value="NoReligion">No Religion</option>
                                                <option value="Others">Others</option>
                                                <option value="Parsi">Parsi</option>
                                                <option value="Sikh">Sikh</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row add-b-cstm mt-4">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <p class="Poppins-Medium f-16 color-31 ad-name">Caste:</p>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="add-input">
                                            <select data-placeholder="Select Marital Status" class="form-control">
                                                <option value="Buddhist">select Caste</option>
                                                <option value="vanniyarcaste">vanniyarcaste</option>
                                                <option value="Hindu">Hindu</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>



                                <div class="row add-b-cstm mt-4">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <p class="Poppins-Medium f-16 color-31 ad-name">Mother Tongue:</p>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="add-input">
                                            <select data-placeholder="Select Marital Status" class="form-control">
                                                <option value="Buddhist">select Mother Tongue</option>
                                                <option value="Aka">Aka</option>
                                                <option value="Arabic">Arabic</option>
                                                <option value="Assamese">Assamese</option>
                                                <option value="Awadhi">Awadhi</option>
                                                <option value="Bengali">Bengali</option>
                                                <option value="Bhojpuri">Bhojpuri</option>
                                                <option value="Bhutia">Bhutia</option>
                                                <option value="Chattisgarhi">Chattisgarhi</option>
                                                <option value="Chinese">Chinese</option>
                                                <option value="Coorgi">Coorgi</option>
                                                <option value="Dogri">Dogri</option>
                                                <option value="English">English</option>
                                                <option value="French">French</option>
                                                <option value="Garhwali">Garhwali</option>
                                                <option value="Garo">Garo</option>
                                                <option value="Chattisgarhi">Chattisgarhi</option>
                                                <option value="Gujarati">Gujarati</option>
                                                <option value="Haryanavi">Haryanavi</option>
                                                <option value="Himachali">Himachali</option>
                                                <option value="Hindi">Hindi</option>
                                                <option value="Kanauji">Kanauji</option>
                                                <option value="Kannada">Kannada</option>
                                                <option value="Kashmiri">Kashmiri</option>
                                                <option value="Khandesi">Khandesi</option>
                                                <option value="Khasi">Khasi</option>
                                                <option value="Konkani">Konkani</option>
                                                <option value="Koshali">Koshali</option>
                                                <option value="Kumoani">Kumoani</option>
                                                <option value="Kutchi">Kutchi</option>
                                                <option value="Lepcha">Lepcha</option>
                                                <option value="Magahi">Magahi</option>
                                                <option value="Maithili">Maithili</option>
                                                <option value="Malay">Malay</option>
                                                <option value="Malayalam">Malayalam</option>
                                                <option value="Manipuri">Manipuri</option>
                                                <option value="Marathi">Marathi</option>
                                                <option value="Marathi">Marathi</option>
                                                <option value="Miji">Miji</option>
                                                <option value="Mizo">Mizo</option>
                                                <option value="Monpa">Monpa</option>
                                                <option value="Nepali">Nepali</option>
                                                <option value="Oriya">Oriya</option>
                                                <option value="Miji">Miji</option>
                                                <option value="Other">Other</option>
                                                <option value="Persian">Persian</option>
                                                <option value="Punjabi">Punjabi</option>
                                                <option value="Rajasthani">Rajasthani</option>
                                                <option value="Russian">Russian</option>
                                                <option value="Sanskrit">Sanskrit</option>
                                                <option value="Santhali">Santhali</option>
                                                <option value="Sindhi">Sindhi</option>
                                                <option value="Sourashtra">Sourashtra</option>
                                                <option value="Spanish">Spanish</option>
                                                <option value="Swedish">Swedish</option>
                                                <option value="Tagalog">Tagalog</option>
                                                <option value="Tamil">Tamil</option>
                                                <option value="Telugu">Telugu</option>
                                                <option value="Tulu">Tulu</option>
                                                <option value="Urdu">Urdu</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>



                                <div class="row add-b-cstm mt-4">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <p class="Poppins-Medium f-16 color-31 ad-name">Country:</p>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="add-input">
                                            <select data-placeholder="Select Marital Status" class="form-control">
                                                <option value="Buddhist">select Country</option>
                                                <option value="vanniyarcaste">Australia</option>
                                                <option value="Canada">Canada</option>

                                                <option value="India">India</option>
                                                <option value="New Zealand">New Zealand</option>
                                                <option value="United Kingdom">United Kingdom</option>

                                                <option value="UnitedStates">United States</option>
                                                <option value="NewZealand">New Zealand</option>
                                                <option value="UnitedKingdom">United Kingdom</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row add-b-cstm mt-4">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <p class="Poppins-Medium f-16 color-31 ad-name">
                                            State:
                                        </p>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="add-input">
                                            <select data-placeholder="Select Marital Status" class="form-control">
                                                <option value="Buddhist">Select State</option>
                                                <option value="AndhraPradesh">Andhra Pradesh</option>
                                                <option value="ArunachalPradesh">Arunachal Pradesh</option>

                                                <option value="Assam">Assam</option>
                                                <option value="Bihar">Bihar</option>
                                                <option value="Chhattisgarh">Chhattisgarh</option>

                                                <option value="Goa">Goa</option>
                                                <option value="Gujarat">Gujarat</option>
                                                <option value="Haryana">Haryana</option>

                                                <option value="Jharkhand">Jharkhand</option>
                                                <option value="Karnataka">Karnataka</option>
                                                <option value="Kerala">Kerala</option>

                                                <option value="MadhyaPradesh">MadhyaPradesh</option>
                                                <option value="Sikkim">Sikkim</option>
                                                <option value="TamilNadu">Tamil Nadu</option>

                                                <option value="Telangana">Telangana</option>
                                                <option value="Tripura">Tripura</option>
                                                <option value="Uttarakhand">Uttarakhand</option>

                                                <option value="UttarPradesh">Uttar Pradesh</option>
                                                <option value="WestBengal">WestBengal</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row add-b-cstm mt-4">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <p class="Poppins-Medium f-16 color-31 ad-name">City:</p>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="add-input">
                                            <select data-placeholder="Select Marital Status" class="form-control">
                                                <option value="Buddhist">select City</option>
                                                <option value="Chennai">Chennai</option>
                                                <option value="Coimbator">Coimbator</option>
                                                <option value="Madurai">Madurai</option>
                                                <option value="Tiruchirappalli">Tiruchirappalli</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row add-b-cstm mt-4">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <p class="Poppins-Medium f-16 color-31 ad-name">Education:</p>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="add-input">
                                            <select data-placeholder="Select Marital Status" class="form-control">
                                                <option value="Buddhist">select Education</option>
                                                <option value="CA/FCA-Company">ACA/FCA-Company Secretary</option>
                                                <option value="ACA/FCA/Chartered">ACA/FCA/Chartered Accountant</option>
                                                <option value="AMIE">AMIE Associate Member of the Institution of Engineers</option>
                                                <option value="PhilBachelors">B Phil Bachelors of Philosophy</option>

                                                <option value="BA/BFA">BA /BFA Bachelors in Arts</option>
                                                <option value="Bachelors">Bachelors in Architecture</option>
                                                <option value="Bachelors">Bachelors in Arts</option>
                                                <option value="BachelorsinCommerce">Bachelors in Commerce</option>

                                                <option value="Computers">Bachelors In Computers</option>
                                                <option value="BachelorsinEducation">Bachelors in Education</option>
                                                <option value="BachelorsinEngineering">Bachelors in Engineering</option>
                                                <option value="Homeopathy">Bachelors in Homeopathy Medicine and Surgery</option>

                                                <option value="Pharmacy">Bachelors in Pharmacy</option>
                                                <option value="BachelorsinPlanning">Bachelors in Planning</option>
                                                <option value="BachelorsinScience">Bachelors in Science</option>
                                                <option value="BachelorsinTechnology">Bachelors in Technology</option>

                                                <option value="MedicineandSurgery">BAMS Bachelor of Ayurveda, Medicine and Surgery</option>
                                                <option value="BusinessAdministration">BBA Bachelors in Business Administration</option>
                                                <option value="BachelorsinScience">Bachelors in Science</option>
                                                <option value="ComputerApplication">BCA Bachelors In Computer Application</option>

                                                <option value="DentalSurgery">BDS Bachelors of Dental Surgery</option>
                                                <option value="HomeopathyMedicineandSurgery">BHMS Bachelors in Homeopathy Medicine and Surgery</option>
                                                <option value="BMM-BachelorofMassMedia">BMM - Bachelor of Mass Media</option>
                                                <option value="ComputerApplication">BPT</option>

                                                <option value="Diploma">Diploma</option>
                                                <option value="IAS/IPS/IFS">IAS/ IPS / IFS / Equivalent Other Indian Services</option>
                                                <option value="ITIIndustrialTrainingInstitute">ITI Industrial Training Institute</option>
                                                <option value="Legal">Legal (Law) - BL/ML/LLB/others</option>

                                                <option value="LessThanHighSchool">Less Than High School, less than "O level"</option>
                                                <option value="MasterOfLaw">Master Of Law</option>
                                                <option value="MastersinArchitecture">Masters in Architecture</option>
                                                <option value="MastersinArts">Masters in Arts</option>

                                                <option value="MastersinCommerce">Masters in Commerce</option>
                                                <option value="MastersinComputers">Masters in Computers</option>
                                                <option value="MastersinEducation">Masters in Education</option>
                                                <option value="MastersinEngineering">Masters in Engineering</option>

                                                <option value="MastersinPharmacy">Masters in Pharmacy</option>
                                                <option value="MastersInPhilosophy">Masters In Philosophy</option>
                                                <option value="MastersinScience">Masters in Science</option>
                                                <option value="MastersinTechnology">Masters in Technology</option>

                                                <option value="MastersinPharmacy">Masters in Pharmacy</option>
                                                <option value="Bachelorofsurgery">MBBS Bachelor of Medicine, Bachelor of surgery</option>
                                              
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-primary btn-search">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    Search
                                </button>
                            </form> <!-- /form -->
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
