<!---------------- membership-plan start-------------------->
<div class="membership-plan shadow">
    <div class="container">
        <div class="row" id="success-bg">
            <div class="col-md-4">
                <div class="Membership-Plan">
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">/ Membership Plan</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Membership-Plan-content">
                    <h2>
                        UPGRADE MEMBERSHIP <span>PLAN</span>
                    </h2>
                    <p>
                        Select One Of the Packages below and pay using the payment method of your choice.

                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Membership-Plan-right">
                    <h2>PAYMENT <span>OPTION</span></h2>
                    <ul>
                        <li>   <figure> <img alt="" src="~/images/write.png" class="rounded"> </figure></li>
                        <li>   <figure> <img alt="" src="~/images/cart.png" class="rounded"> </figure></li>
                        <li>   <figure> <img alt="" src="~/images/bag.png" class="rounded"> </figure></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------- membership-plan end-------------------->


<!----------------upgrade-price Start-------------------->
<div class="upgrade-price">
    <div class="container">
        <div class="row" id="price-wrapper">
            <div class="col-md-4">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <div class="price-value">
                            <span class="amount">INR 1500</span>
                            <span class="month">3 Month</span>
                        </div>
                    </div>
                    <div class="icon">
                        <i class="fa fa-inr" aria-hidden="true"></i>

                    </div>
                    <div class="pricing-content">
                        <ul>
                            <!--- <li> Duration / 360</li>
                             <li>Contact / 150</li>
                              <li> Live Chat / Yes</li>--->
                            <li>INR 1500</li>
                            <li>3 Month</li>
                        </ul>
                        <a href="https://www.artoflivingmatrimony.org/premium-member/buy-now/17" class="pricingTable-signup"> Buy Plan</a>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="pricingTable blue">
                    <div class="pricingTable-header">
                        <div class="price-value">
                            <span class="amount">INR 2000</span>
                            <span class="month">6 Month </span>
                        </div>
                    </div>
                    <div class="icon">
                        <i class="fa fa-inr" aria-hidden="true"></i>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <!---- <li> Duration / 360	</li>
                               <li>Contact / 50</li>
                                <li> Live Chat / Yes</li> -->
                            <li>INR 2000</li>
                            <li>6 Month</li>

                        </ul>
                        <a href="https://www.artoflivingmatrimony.org/premium-member/buy-now/17" class="pricingTable-signup"> Buy Plan</a>
                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="pricingTable green">
                    <div class="pricingTable-header">
                        <div class="price-value">
                            <span class="amount">INR 3000</span>
                            <span class="month">12 Month </span>
                        </div>
                    </div>
                    <div class="icon">
                        <i class="fa fa-inr" aria-hidden="true"></i>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <!---- <li> Duration / 180</li>
     <li>Contact / 25</li>
     <li> Live Chat / Yes</li>--->
                            <li>INR 3000</li>
                            <li>12 Month</li>

                        </ul>
                        <a href="https://www.artoflivingmatrimony.org/premium-member/buy-now/17" class="pricingTable-signup"> Buy Plan</a>
                    </div>
                </div>
            </div>

           <!-- <div class="col-md-3">
                <div class="pricingTable purple">
                    <div class="pricingTable-header">
                        <div class="price-value">
                            <span class="amount">INR 1700</span>
                            <span class="month">SILVER </span>
                        </div>
                    </div>
                    <div class="icon">
                        <i class="fa fa-inr" aria-hidden="true"></i>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li> Duration / 90									</li>
                            <li>Contact / 15</li>
                            <li> Live Chat / Yes</li>
                            <li>Personal Message / 30</li>
                        </ul>
                        <a href="https://www.artoflivingmatrimony.org/premium-member/buy-now/17" class="pricingTable-signup"> Buy Plan</a>
                    </div>
                </div>
            </div>  --->



        </div>
    </div>

</div>

<!----------------upgrade-price end-------------------->


<!----------------  blissful journey start-------------------->
<div class="blissful">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="blissful-left">
                    <h2>
                        Begin a blissful journey!
                    </h2>
                </div>

            </div>

            <div class="col-md-6">
                <div class="blissful-right">
                    <a href="#" class="color-f f-19 Poppins-Medium fm-btn2">Find Your Match Now</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!----------------  blissful journey end-------------------->