@page
@model addon365.FindMatch360.Views.Account.campaignregistrationProfessionaldetailsModel
@{
}


@{
    Layout = "~/Views/Shared/_CampaignLayout.cshtml";
}

<div class="campaignregistor-form-bg">
    <div class="container">
        <div class="row" id="campaignregistor-wrapper">
            <div class="col-md-5" id="campignregistration-left">
                <div class="campignregistration-title">
                    <img src="~/images/reg-3.png" class="img-fluid" id="img-living">
                    <div class="campignregistration-title-bg">

                        <h5>
                            Thousands of Success Stories! Yours could be next.


                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-7" id="campignregistration-right">
                <div class="signup-form">
                    <form method="post">
                        <h5 class="float-right">Great! You have completed <span class="precentage">60%</span></h5>
                        <h2>Create Account</h2>
                        <p class="lead"> Not only charming and caring. Most importantly - right for you! </p>
                        <div class="form-group">
                            <label for="sel1">Marital Status:</label>
                            <select class="form-control" id="sel1">
                                <option value="0">Select</option>
                                <option value="1">Never Married	</option>
                                <option value="2">Widowed</option>
                                <option value="3">Divorced</option>
                                <option value="3">Awaiting divorce</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="sel1">
                                Height:
                            </label>
                            <select class="form-control" id="sel1">
                                <option value="0">Feet / Inches  </option>
                                <option value="1">4ft 6in / 137 cms</option>
                                <option value="2">4ft 7in / 139 cms</option>
                                <option value="3">4ft 8in / 142 cms</option>
                                <option value="3">4ft 9in / 144 cms</option>
                                <option value="3">4ft 8in / 142 cms</option>
                                <option value="3">4ft 9in / 144 cms</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="sel1">
                                Family Status:
                            </label>
                            <select class="form-control" id="sel1">
                                <option value="0">Middle class</option>
                                <option value="1">Upper middle class</option>
                                <option value="2">Rich</option>
                                <option value="3">Affluent</option>
                                <option value="3">4ft 9in / 144 cms</option>
                                <option value="3">4ft 8in / 142 cms</option>
                                <option value="3">4ft 9in / 144 cms</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="sel1">
                                Family Type:
                            </label>
                            <select class="form-control" id="sel1">
                                <option value="0">Joint</option>
                                <option value="1">Nuclear</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="sel1">
                                Family Values:
                            </label>
                            <select class="form-control" id="sel1">
                                <option value="0">Orthodox</option>
                                <option value="1">Traditional</option>
                                <option value="0">Moderate</option>
                                <option value="1">Liberal</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label for="sel1">
                                Any Disability:
                            </label>
                            <select class="form-control" id="sel1">
                                <option value="0">Physically challenged</option>
                                <option value="0">Normal</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <a>
                                <button type="submit" class="btn btn-primary btn-block btn-lg Continue-bg">Continue</button>
                            </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


