@page
@model addon365.FindMatch360.Views.Account.campaignregistrationpersonaldetailsModel

@{
    Layout = "~/Views/Shared/_CampaignLayout.cshtml";
}
<div class="campaignregistor-form-bg">
    <div class="container">
        <div class="row" id="campaignregistor-wrapper">
            <div class="col-md-5" id="campignregistration-left">
                <div class="campignregistration-title">
                    <img src="~/images/reg-4.png" class="img-fluid" id="img-living">
                    <div class="campignregistration-title-bg">
                        <h5>Create memories with her that last</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-7" id="campignregistration-right">
                <div class="signup-form">
                    <form method="post">
                        <h5 class="float-right">Great! You have completed <span class="precentage">80%</span></h5>
                        <h2>Create Account</h2>
                        <p class="lead">
                            Professional details help us to find the best companion
                        </p>
                        <div class="form-group">
                            <label for="sel1">Highest Education:</label>
                            <select class="form-control" id="sel1">
                                <option value="0"> -- Any Bachelors in Engineering / Computers --</option>
                                <option value="1">BE</option>
                                <option value="2">B.Tech</option>
                                <option value="3">BCA</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="Subcaste" placeholder="Enter Education in Detail" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="sel1">
                                Employed in:
                            </label>
                            <select class="form-control" id="sel1">
                                <option value="0">Government/PSU</option>
                                <option value="1">Private</option>
                                <option value="2">Business</option>
                                <option value="3">Defence</option>
                                <option value="3">Self Employed</option>
                                <option value="3">Not working</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="sel1">
                                Occupation
                            </label>
                            <select class="form-control" id="sel1">
                                <option value="0"> - Select Occupation - </option>
                                <option value="1">FREQUENTLY USED</option>
                                <option value="2">Software Professional</option>
                                <option value="3">Teaching / Academician</option>
                                <option value="3">Executive</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="sel1">
                                Annual Income

                            </label>
                            <select class="form-control" id="sel1">
                                <option value="0"> -  Select  - </option>
                                <option value="1">0 - 1 Lakh</option>
                                <option value="2">Software Professional</option>
                                <option value="3">Teaching / Academician</option>
                                <option value="3">Executive</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <a>
                                <button type="submit" class="btn btn-primary btn-block btn-lg Continue-bg Continue-bg">Continue</button>
                            </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

